.hero-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}

.slide {
  flex: 1;
  display: none;
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide.active {
  display: block;
}

.slide-content {
  position: absolute;
  bottom: 200px;
  left: 150px;
  color: #fff;
  text-align: left;
}

.slide-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.slide-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

.prev-button:hover,
.next-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity to darken */
}
